@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

$dark-blue: #002746;
$green: #00A19D;
$background: #e6e5e5;
$light-text: #f5f5f5;

@mixin global-btn {
    margin: 1rem;
    padding: .4rem;
    border: none;
    border-radius: .4rem;
    background-color: $green;
    color: $light-text;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;

    &.success {
        background-color: mediumseagreen;
    }

    &.danger {
        background-color: crimson;
    }

    &:hover {
        background-color: $dark-blue;
    }

    &.techno {
        font-size: .7rem;
        padding: .3rem;
    }
}


// ---------------------------
// ---------- GLOBAL ---------
// ---------------------------

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: $background;
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 2rem;
}

.global-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

    & .input-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        & input {
            padding: .4rem;
        }
    }

    & .btn-box {
        display: flex;
        justify-content: center;

        & .form-btn {
            @include global-btn();
        }
    }

    &.add-tech {
        margin-bottom: 1rem;
        padding: .8rem .8rem 0 .8rem;
        border-radius: .4rem;
        background-color: rgb(199, 199, 199);
    }
}


// ---------------------------
// ---------- MENU -----------
// ---------------------------

.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: $dark-blue;
    color: $light-text;
    box-shadow: 0 0 5px #333;

    &__title {
        font-size: 2rem;
    }

    &__nav {
        display: flex;
        list-style: none;

        &__item {
            margin: 1rem;
            font-size: 1.6rem;

            &__link {
                color: $light-text;
                transition: .3s;

                &:hover {
                    color: $green;
                }
            }
        }
    }
}


// ------------------------------
// ------------- HOME -----------
// ------------------------------

main.home {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .user-avatar {
        width: 100px;
        margin: 2rem;
    }

    & p {
        margin: 1rem 0;
    }
}

.resources-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem;
    padding: 1rem;
    border-radius: .4rem;
    box-shadow: 2px 2px 10px #999;

    &__buttons {
        & .resource-btn {
            @include global-btn();
            margin: .4rem;
            text-align: center;
        }
    }
}



// ------------------------------
// ---------- PROFILE -----------
// ------------------------------

.avatars {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & .avatar-choice {
        display: flex;
        align-items: flex-start;
        margin: .6rem;

        & input {
            position: relative;
            left: 20px;
            top: 10px;
        }

        & img {
            border-radius: .4rem;
            width: 100px;
        }
    }
}


// --------------------------------
// ---------- RESOURCES -----------
// --------------------------------

main.avatars, main.images, main.technos {
    display: flex;
    flex-direction: column;
}

.all-avatars, .all-images, .all-technos {
    display: flex;
    flex-wrap: wrap;

    & .avatar-box, & .image-box, & .techno-box {
        position: relative;
        margin: 1rem;

        & img {
            border-radius: .4rem;
        }

        & p {
            text-align: center
        }

        & .btn {
            @include global-btn();
            margin: 0;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.avatar-box img {
    width: 100px;
}
.image-box img {
    width: 200px;
}
.techno-box img {
    height: 50px;
}


// ------------------------------
// ---------- POSTS -------------
// ------------------------------

main.posts, main.messages, main.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    @include global-btn();
}

.posts-box, .messages-box, .projects-box {
    min-width: 300px;
    margin-top: 2rem;
    border-radius: .4rem;
    box-shadow: 0 0 10px #999;

    & .post, & .message, & .project {
        display: flex;
        align-items: center;
        padding: 1rem;
        border-bottom: 1px solid #999;
        color: #000;
        text-decoration: none;
        transition: .3s;

        &:first-child {
            border-radius: .4rem .4rem 0 0;
        }

        &:last-child {
            border: none;
            border-radius: 0 0 .4rem .4rem;
        }

        &:hover {
            background-color: $green;
            color: $light-text;
            border-color: $light-text;
        }

        & img {
            height: 40px;
            margin-right: .4rem;
            border-radius: .2rem;
        }
    }
}

.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & .image-choice {
        display: flex;
        align-items: flex-start;
        margin: .6rem;

        & input {
            position: relative;
            left: 20px;
            top: 10px;
        }

        & img {
            border-radius: .4rem;
            width: 100px;
        }
    }
}

.technos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & .techno-choice {
        display: flex;
        align-items: flex-start;
        margin: .6rem;

        & input {
            position: relative;
            left: 14px;
            top: 2px;
        }

        & img {
            border-radius: .4rem;
            height: 50px;
        }
    }
}


// ------------------------------
// ---------- MESSAGE -----------
// ------------------------------

.message {
    &__from {
        padding-bottom: .4rem;
        font-size: 1.4rem;
    }

    &__infos {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #999;
        padding-top: .2rem;
        margin-bottom: 2rem;
    
        &__date {
            font-style: italic;
        }
    }

    &__content {
        margin-bottom: 1rem;
        text-align: justify;
    }

    & .btn-box {
        display: flex;
        justify-content: center;
    }
}





@media screen and (max-width: 620px) {
    .menu {
        display: flex;
        flex-direction: column;

        &__title {
            margin-top: 1rem;
        }
    }
}